.item {
    width: 90%;
    height: 50vw;
}

.image1 {
    background: url("../../img/1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.image2 {
    background: url("../../img/2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.image3 {
    background: url("../../img/3.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.image4 {
    background: url("../../img/4.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}