

.item {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 50vw;
}

.grey {
    background-color: grey;
}

.image1 {
    background: url("../../img/1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.image2 {
    background: url("../../img/2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.image3 {
    background: url("../../img/3.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.image4 {
    background: url("../../img/4.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagegrey1 {
    background: url("../../img/grey1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagegrey2 {
    background: url("../../img/grey2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagegrey3 {
    background: url("../../img/grey3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagegrey4 {
    background: url("../../img/grey4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}