.button {
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-text-button-color);
    border-radius: 30px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}