

.page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url(../../img/background.heic);
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: 120vw;
    
}

.menubtn {
    width: 80vw;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #2247D5;
    color: #FEFEFE;
    font-size: 6vw;
}